body {
    font-family: "Noto Sans", sans-serif;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
    font-family: "Castoro", serif;
    font-variant: small-caps;
}

.publication-title {
    font-family: "Google Sans", sans-serif;
}

.publication-authors {
    font-family: "Google Sans", sans-serif;
}

.publication-venue {
    color: #555;
    width: 100%;
}

.publication-authors a {
    color: hsl(204, 86%, 53%);
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
    display: inline-block;
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-logo {
    max-width: 200px;
    margin-bottom: 20px;
}
